* {
    margin: 0px;
    padding: 0px;
}

.product-item h2.text-center {
    text-transform: uppercase;
}

.product-item p.description {
    text-align: center;
}

#content p.time {
    position: absolute;
    top: 149px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.67);
    border-radius: 2px;
    color: #2A2D34;
    font-weight: bold;
}

#content .logo-croll {
    margin: 0 10%;
}

#content .giam_gia {
    position: absolute;
    top: 11%;
    left: 50%;
    color: #fff;
}

.active {
    color: #ef1522 !important;
}

/* loader */
#loader {
    margin: auto;
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    z-index: 1;
    width: 150px;
    height: 150px;
    /* margin: -75px 0 0 -75px; */
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ef1522;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
    visibility: hidden;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* //loader */

.w-100 {
    width: 100%;
    height: 1px;
    background: #d6d6d6;
    margin: 20px 0;
}

#content .product-item p span {
    color: #F26430;
    font-weight: bold;
}

.product-item {
    background-color: #f2f2f2;
    padding: 20px 0;
    display: none;
    visibility: hidden;
}

.product-item a {
    text-decoration: none;
}

#content .product-item h6 {
    padding: 15px;
    box-sizing: border-box;
    text-align: justify;
    color: #e20a17;
}

#content p.price {
    position: absolute;
    top: 29px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.67);
    border-radius: 2px;
}

#content p.price strike {
    color: #000;
    font-weight: bold;
}

#content p.price strong {
    color: #e20a17;
    font-size: 1.1rem;
    padding: 5px 10px;
}

#content .product-detail {
    position: relative;
    background-color: #fff;
    margin: 20px 0;
    padding: 0px !important;
    min-height: 300px;
    border-radius: 2px;
}

#content .img-product {
    height: 180px;
}

#content .card-block {
    padding: 0px;
    /* margin: 10px; */
    border: 0px;
}

.card-block {
}

#content .card {
    margin: 10px;
    /* padding: 0px; */
    border: 1px solid #e7e3e3;
}

#content .logo-product {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    display: table;
    background-color: #74d14c;
    margin-bottom: 20px;
    /* padding: 10px; */
}

#content .logo-product img {
    width: 100%;
    vertical-align: middle;
}

#content .logo-product a {
    display: table-cell;
    text-align: center;
    margin: auto;
    vertical-align: middle;
}

/*box product */
.box-product .get_coupon {
    width: 100%;
    height: 35px;
    background: red;
    padding: 6px;
    text-align: center;
    cursor: pointer;
    color: white;
}

.box-product p.start-time {
    font-family: 'Roboto Condensed', sans-serif;
}

.box-product p.card-text.content_sale {
    padding: 4px;
    /* text-align: left; */
    font-family: 'Roboto Condensed', sans-serif;
    /* margin-left: 10px; */
    /* margin-right: 2px; */
}

.box-product img.image_lazada {
    width: 100%;
    height: 100%;
}

.box-product h5.card-title.ten_khuyenmai {
    background: #74d14c;
    text-align: center;
    padding: 4px;
    color: white;
}

.box-product .card-block.khung_khuyenmai {
    padding: 0;
}

.box-product .card.card-height {
    height: 400px;
    position: relative;
}

/*//box product */
.img-coupon a {
    display: block;
    width: 100%;
}

p.description {
    text-align: justify;
}

#detail .list-unstyled li {
    margin-left: 30px;
}

.saveamount img {
    width: 100%;
    margin-top: 10px;
}

#content .product-item img {
    width: 100%;
    height: 200px;
}

#content .product-item img {
}

#detail {
    font-family: 'Quicksand', sans-serif;
}

#detail h4 {
    margin: 20px 0;
}

/*CSS coupon*/
.coupondiv .coupon-code {
    position: absolute;
    top: 0px;
    right: -45px;
    z-index: -1;
    min-width: 50px;
    height: 45px;
    padding: 5px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0px;
    font-size: 16px;
    color: #222;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #ddd;
}

.coupondiv .copyma {
    width: 110px;
    min-width: 110px;
    display: inline-block;
    position: relative;
    margin-right: 30px;
    padding: 15px 10px;
    border: 0px;
    background: #FE6F17;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-style: solid;
    border-color: #FE6F17;
    border-radius: 0px;
}

.coupondiv .copyma:after {
    border-left-color: #FE6F17;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 45px solid transparent;
    border-left: 45px solid #FE6F17;
    position: absolute;
    right: -45px;
    top: 0;
}

.coupondiv .cpinfo {
    display: block;
    margin-bottom: 5px;
    color: #222;
    line-height: 1.6;
    text-decoration: none;
    font-size: 15px;
}

.coupondiv .coupontitle {
    display: block;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    color: #222;
    font-weight: 500;
    line-height: 1.6;
    text-decoration: none;
    font-size: 16px;
}

.coupondiv .saleorcoupon {
    background: #1FB207;
    padding: 7px 6px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 2em;
}

.coupondiv .saveamount {
    min-height: 58px;
    font-size: 20px;
    margin: 0 auto;
    padding: 4px 3px 0;
    font-weight: 700;
    line-height: 2.5;
}

.coupondiv .promotagcont {
    background: #fff;
    color: #FE6F17;
    overflow: hidden;
    width: 70px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 4px rgba(34, 34, 34, .2);
    box-shadow: 1px 1px 4px rgba(34, 34, 34, .2);
    text-align: center;
}

.coupondiv .cpbutton {
    float: right;
    position: relative;
    z-index: 1;
    text-align: right;
    width: 140px;
    margin-top: 35px;
    margin-right: 15px;
}

.coupondiv .promotiondetails {
    padding-left: 20px;
    width: 66%;
    word-wrap: break-word;
    float: left;
    font-size: 16px;
}

.coupondiv .promotag {
    float: left;
}

.coupondiv .promotiontype {
    padding: 15px;
    overflow: hidden;
}

.coupondiv {
    border: 1px solid #d3d3d3;
    min-width: 250px;
    margin-bottom: 6px;
    background-color: #fff;
}

.xemngayz {
    width: 150px;
    min-width: 150px;
    display: inline-block;
    position: relative;
    margin-right: 30px;
    padding: 15px 15px;
    border: 0px;
    background: #1FB207;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-style: solid;
    border-color: #1FB207;
    border-radius: 0px;
}

/*//CSS coupon*/

div#detail .banner a img {
    width: 100%;
}

div#detail .banner.no-full a img {
    width: auto;
    margin: auto;
    display: block;
}

.product .img-coupon {
    height: 150px;
    text-align: center;
    margin: 20px auto;
}

.product .img-coupon img {
    width: 70%;
    /* height: 100%; */
}

html {
    font-size: 15px;
}

/* content */
#content button.btn.btn-primary {
    margin: 0 auto;
    background-color: #74d14c;
    border: none;
    display: block;
}

h4 {
}

#content table {
    margin: auto;
    width: 303px;
}

td {
    padding: 10px;
}

a.news {
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    border-bottom: 1px dotted;
    color: #4a0000;
    font-family: 'Roboto Condensed', sans-serif;
}

a.coupon {
    display: inline-block;
    margin-top: 20px;
    border-bottom: 1px dotted;
    color: #000;
    /* font-family: 'Roboto Condensed', sans-serif; */
    padding-bottom: 15px;
    display: block;
}

#content a.label {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    /* margin-left: 18px; */
    background-color: #74d14c;
    color: white;
    font-weight: bold;
    text-decoration: none !important;
    float: left;
}

#content h4.sale-hot {
    /* background-image: url('../images/board.jpg'); */
    /* border-radius: 10px 10px 10px 10px; */
    color: #74d14c;
    border: 2px solid #083b66;
    border-width: 2px 0 2px 0;
    /* font-family: 'Roboto Condensed', sans-serif; */
    padding: 20px;
    background-repeat: no-repeat;
    background-size: 319px 71px;
    /* margin: -16px -16px; */
    /* margin-left: -16px; */
    /* text-shadow: 3px 3px 1px #170a0a; */
    /* margin-right: -16px; */
    /* background-color: #74d14c; */
    text-align: center;
}

#content .sale1, .sale2, .sale3, .sale4 {
    border: 1px solid rgba(255, 255, 255, 0.22);
    margin-top: 15px;
}

#content .find {
    margin-top: 15px;
    width: 100%;
}

#content .product {
    border-bottom: 1px solid #d6d6d6;
    box-sizing: border-box;
    padding: 10px 0;
}

#content .coupon h4 {
    text-align: center;
    color: #083b66;
    background-color: #d6d6d6;
    border-top: 3px solid #74d14c;
    padding: 10px 0;
}

/* //content */

/* banner */
div#banner {
    padding: 20px;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 20px;
}

#banner .logo img {
    margin-top: -50px;
}

#banner .logo {
    height: 100px;
    overflow: hidden;
    text-align: center;
}

/* //banner */

/* header */
#header li.nav-item.active a {
    color: #74d14c;
}

#header i.fa.fa-home {
    color: #fff;
}

#header i.fa.fa-home:hover {
    color: #e20a17;
}

#header {
    border-bottom: 1px solid #d6d6d6;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

div#header ul li a {
    text-transform: uppercase;
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
}

div#header ul li a:hover {
    color: #e20a17;
}

#header nav {
    background: transparent;
    padding: 0px;
}

/* //header */

/* footer */

#footer .copyright.text-center {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}

/* //footer */

/* mobile */

/* //mobile */

/* tablet */


/* //tablet */


div#content .col-4 {
    height: 400px;
    background-color: chartreuse;
}


.get_coupon:hover, .go_lazada:hover {
    color: yellow;
    font-style: oblique;
}

p.end-time {
    margin-left: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}

.same_content {
    display: none;
}

.show {
    display: inline;
}

span.chitiet {
    background: white;
    color: #292b2c;
    border-radius: 3px;
    padding: 2px;
    cursor: pointer;
    margin: 5px;
    text-decoration: underline;
}

.chitiet:hover {
    color: #74d14c;
    font-style: italic;
    font-weight: bold;
}

img.image_show_lazada {
    width: 24%;
    position: absolute;
    left: 38%;
    top: 62%;
}

.btn_golazada {
    text-align: center;
    background: #fcbf12;
    width: 272px;
    margin: auto;
    border-radius: 8px;
    padding: 6px;
    color: #291867;
    font-weight: bold;
    position: absolute;
    top: 80%;
    left: 24%;
    text-decoration: none !important;
}

.copy_coupon {
    text-align: center;
    width: 130px;
    height: 100px;
    font-size: 16px;
    /* margin:  auto; */
    /* padding-top: 106px; */
    display: table;
    position: absolute;
    /* padding-bottom: 28px; */
    left: 39%;
    top: 10%;
    border: 4px solid #796500;
    background: white;
}

.show_coupon {
    width: 40%;
    height: 260px;
    background: white;
    position: absolute;
    left: 383px;
    top: 243px;
    /* box-shadow: -1px 1px 3px 4px #bbb483; */
}

img.image_logo {
    width: 20%;
    left: 40%;
    top: -60px;
    position: relative;
}

#mymodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; */ /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(156, 149, 149, 0.63); /* Black w/ opacity */
}

/*
modal of lazada*/

p.end-time {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 0px;
    margin-left: 10px;
}

p.start-time {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 0px;
    margin-left: 14px;
}

img.image_lazada {
    width: 100px;
    margin-left: 82px;
    margin-top: -5px;
    margin-bottom: 8px;
}

.get_coupon, .go_lazada {
    width: 96px;
    height: 35px;
    background: #215c91;
    /* margin: auto; */
    padding: 6px;
    text-align: center;
    /* border-radius: 8px; */
    /* margin-bottom: 5px; */
    cursor: pointer;
    color: white;
    text-decoration: none !important;
    position: absolute;
    top: 18%;
    left: 70%;
    font-weight: 500;
}

p.card-text.content_sale {
    padding: 4px;
    /* text-align: left; */
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 10px;
    margin-right: 2px;
    margin-bottom: 0px;
}

h5.card-title.ten_khuyenmai {
    background: #74d14c;
    text-align: center;
    padding: 4px;
    color: white;
    height: 67px;
    text-align: center;
}

h4.card-title.ten_khuyenmai {
    background: #74d14c;
    text-align: center;
    padding: 7px;
}

.card-block.khung_khuyenmai {
    padding: 0;
    position: relative;
}

.card.card-height {
    height: 400px;
}

.container.wrap-coupon {
    display: table;
    margin-bottom: 35px;
}

/*end lazada*/
li.item-shopping {
    position: relative;
}

li.nav-item:hover .submenu {
    display: block;
    z-index: 100;
    background: #ffffff;
    width: 180px;
}

ul.submenu {
    list-style: none;
    position: absolute;
    display: none;
}

html {
    font-size: 15px;
}

/* content */
#content button.btn.btn-primary {
    margin: 0 auto;
    background-color: #74d14c;
    border: none;
    display: block;
}

h4 {
}

#content table {
    margin: auto;
    width: 303px;
}

td {
    padding: 10px;
}

a.news {
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    border-bottom: 1px dotted;
    color: #4a0000;
    font-family: 'Roboto Condensed', sans-serif;
}

a.coupon {
    display: inline-block;
    margin-top: 20px;
    border-bottom: 1px dotted;
    color: #000;
    /* font-family: 'Roboto Condensed', sans-serif; */
    padding-bottom: 15px;
    display: block;
}

#content a.label {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    /* margin-left: 18px; */
    background-color: #74d14c;
    color: white;
    font-weight: bold;
    text-decoration: none !important;
    float: left;
}

#content h4.sale-hot {
    /* background-image: url('../images/board.jpg'); */
    /* border-radius: 10px 10px 10px 10px; */
    color: #74d14c;
    border: 2px solid #083b66;
    border-width: 2px 0 2px 0;
    /* font-family: 'Roboto Condensed', sans-serif; */
    padding: 20px;
    background-repeat: no-repeat;
    background-size: 319px 71px;
    /* margin: -16px -16px; */
    /* margin-left: -16px; */
    /* text-shadow: 3px 3px 1px #170a0a; */
    /* margin-right: -16px; */
    /* background-color: #74d14c; */
    text-align: center;
}

#content .sale1, .sale2, .sale3, .sale4 {
    border: 1px solid rgba(255, 255, 255, 0.22);
    margin-top: 15px;
}

#content .find {
    margin-top: 15px;
    width: 100%;
}

#content .product {
    border-bottom: 1px solid #d6d6d6;
    box-sizing: border-box;
    padding: 10px 0;
}

#content .coupon h4 {
    text-align: center;
    color: #083b66;
    background-color: #d6d6d6;
    border-top: 3px solid #74d14c;
    padding: 10px 0;
}

/* //content */

/* banner */
div#banner {
    padding: 20px;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 20px;
}

#banner .logo img {
    margin-top: -50px;
}

#banner .logo {
    height: 100px;
    overflow: hidden;
    text-align: center;
}

/* //banner */

/* header */
#header li.nav-item.active a {
    color: #74d14c;
}

#header i.fa.fa-home {
    color: #083b66;
    margin-top: 8px;
}

#header i.fa.fa-home:hover {
    color: #74D14C;
}

#header {
    border-bottom: 1px solid #d6d6d6;
}

div#header ul li a {
    text-transform: uppercase;
    display: block;
    padding: 10px 20px;
    color: #083b66;
    font-weight: bold;
}

div#header ul li a:hover {
    color: #74d14c;
}


@media (max-width: 575px) {
    * {
        margin: 0px;
        padding: 0px;
    }

    #content .product h5.title {
        font-size: 1rem;
    }

    #header .logo img {
    }

    #header .btn-toggle {
        height: 60px;
        line-height: 60px;
    }

    div#header {
        text-align: center;
    }

    #content .product h5.title {
        font-size: 1rem;
    }

    #header .logo img {
    }

    #header .btn-toggle {
        height: 60px;
        line-height: 60px;
    }

    div#header {
        text-align: center;
    }

    #content .product h5.title {
        font-size: 1rem;
    }

    #header .logo img {
    }

    #header .btn-toggle {
        height: 60px;
        line-height: 60px;
    }

    div#header {
        text-align: center;
    }

    .get_coupon, .go_lazada {
        left: 58%;
    }

    img.image_lazada {
        margin-left: 8px;
    }

    .close {
        width: 29px;
    }

    a.btn_golazada {
        position: absolute;
        left: 1%;
        right: 1%;
    }

    img.image_show_lazada {
        position: absolute;
        left: 36%;
        width: 8rem;
    }

    .copy_coupon {
        position: absolute;
        left: 35%;
    }

    .show_coupon {
        width: 96%;
        left: 2%;
        top: 29%;
    }

    img.image_logo {
        width: 48%;
        left: 27%;
        position: relative;
        top: -12%;
    }

    #content .product h5.title {
        font-size: 1rem;
    }

    #header .logo img {
    }

    #header .btn-toggle {
        height: 60px;
        line-height: 60px;
    }

    div#header {
        text-align: center;
    }
}

/* //mobile */

/* tablet */

@media (min-width: 767px) and (max-width: 992px) {
    * {
    }

    a.btn_golazada {
        left: 6%;
    }

    img.image_show_lazada {
        left: 40%;
    }

    .copy_coupon {
        left: 30%;
    }

    .show_coupon {
        left: 32%;
    }

    img.image_logo {
        width: 33%;
    }

    img.image_lazada {
        margin-left: 5%;
        width: 40%;
    }

    .get_coupon, .go_lazada {
        left: 48%;
    }

}

@media (min-width: 992px) and (max-width: 1200px) {
    * {
    }

    a.btn_golazada {
        left: 17%;
    }

    .copy_coupon {
        left: 35%;
    }

    .show_coupon {
        left: 33%;
        top: 21%;
    }

    img.image_logo {
        width: 32%;
    }

    .get_coupon {
        left: 60%;
    }

    img.image_lazada {
        margin-left: 18%;
    }
}

/* //tablet */
